
.container{
    @media only screen and (max-width: 991px) {
        max-width: 100% !important;
        margin: 0;
        padding: 0;
    }
    .displayContainer{
        grid-gap: .5rem;
        margin: 0;
        .displayCard{
            padding: 0 0 1rem 0;
            border: none;
            @media only screen and (max-width: 767px) {
                min-width: 40%;
            }
            @media only screen and (max-width: 991px) {
                max-width: 9.6rem;
            }
            @media only screen and (min-width: 992px) {
                max-width: 24%;
            }
            .imageContainer{
                position: relative;
                .quickView{
                    opacity: 0;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 4.5rem;
                    height: 4.5rem;
                    border: 1px solid black;
                    background: white;
                    color: black;
                    margin: 0;
                }
                &:hover{
                    .quickView{
                        @media only screen and (min-width: 821px) {
                            opacity: 1;
                        }
                    }
                }
            }
            .card-body{
                padding: .5rem 0 0 0;
                .card-title{
                    margin: 0;
                    font-size: 1rem;
                    font-weight: 400;
                    color: rgb(54, 190, 177);
                }
                .card-text{
                    margin: 0;
                    font-size: .8rem;
                }
            }
            .colorBtnContainer{
                display: flex ;
                flex-flow: row;
                justify-content: flex-start;
                button{
                    border-radius: 50%;
                    width: .5rem;
                    height: 1.5rem;
                    &:hover{
                        border: 2px solid rgb(54, 190, 177);
                    }
                }
            }
        }
    }
}