@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;700;800&family=Orbitron:wght@400;500;700;800;900&display=swap');
// font-family: 'Orbitron', sans-serif;

//TOP CAROUSEL NAVBAR =====================================
.carousel-indicators{
    position: absolute;
    display: none;
}
.carousel-inner{
    width: 856px;
    @media only screen and (max-width: 900px){
        width: 767px;
    }
    @media only screen and (max-width: 738px){
        width: 350px;
    }
    .slideInfo{
        color: white;
        font-size: .7rem;
        font-weight: 500;
        letter-spacing: 1px;
        margin: 0;
        text-align: center;
        @media only screen and (max-width: 775px){
            padding: .5rem 3.5rem;
        }
    }
}
.carousel-control-prev, .carousel-control-next{
    opacity: 1;
    .carousel-control-next-icon, .carousel-control-prev-icon{
        height: 1.25rem;
    }
}

// MIDDLE NAVBAR ==========================================
.midNav{
    background: rgb(209, 209, 209);
    justify-content: space-between;
        @media only screen and (max-width: 768px){
            justify-content: center;
        }
    .midNavLink{
        font-size: .8rem;
        opacity: 1;
        font-weight: bold;
        i{
            padding-right: .25rem;
        }
    }
    .secondNavLink{
        @media only screen and (max-width: 768px){
            position: absolute;
            display: none;
        }
    }
}


// MAIN NAVBAR ============================================
.navColor{
    position: relative;
    @media only screen and (max-width: 768px){
        background-color: rgba(248, 249, 250);
        .collapsed{
            position: absolute;
            right: 10px;
        }
    }
    .deskMenu{
        --bs-gutter-x: 0;
        .navbar-brand{
            margin-right: 0;
        }
        .deskBrand{
            padding-left: 2rem;
            display: flex;
            flex-flow: row;
            align-items: center;
        }
        .jumboSearch{
            position: relative;
            @media only screen and (max-width: 768px){
                order: 6 !important;
            }
            .form-control{
                border-radius: 50px;
            }
            .searchBtn{
                position: absolute;
                right: 0;
                top: -.35rem;
                width: auto;
                &.btn-primary{
                    color: gray;
                    background: transparent;
                    border: none;
                }
            }
        }
        .userInfo{
            flex-direction: row;
            justify-content: flex-end;
            @media only screen and (max-width: 768px){
                order: -1 !important;
                justify-content: flex-start;
            }
            .nav-link{
                padding: 0 1rem;
            }
            .userContainer{
                border: 2px solid black;
                border-radius: 50%;
                overflow: hidden;
                font-size: 1.5rem;
                position: relative;
                height: 2rem;
                width: 2rem;
                display: flex;
                align-items: center;
                i{
                    padding: 0 .45rem;
                    position: absolute;
                    bottom: -1px;
                    left: -4px;
                }
            }
            .bagContainer{
                font-size: 1.7rem;
                display: flex;
                align-items: center;
                color: black;
                i{
                    padding: 2px 0 0 0;
                }
            }
        }
    }
}

// FOR BOTH MOBILE AND DESKTOP BRAND AREA ===================================
.brandMain{
    border-right: 1px solid gray;
    padding: 0 .5rem 0 0;
    font-family: 'Orbitron', sans-serif;
    h3{
        margin: 0;
    }
}
.brandSide{
    padding: 0 0 0 .5rem;
    font-family: 'Orbitron', sans-serif;
    h6{
        font-size: .7rem;
        margin: 0;
    }
}
.collapseMenu {
    margin: 0;
    padding-left: 1rem;
    border-bottom: 1px solid #e9e9e9;
}