
.jumboBrand{
    margin: 0 0 0 1rem;
    img{
        height: 2rem;
        object-fit: fill;
    }
}
.deskMenu{
    --bs-gutter-x: 0;
    .deskBrand{
        padding-left: 2rem;
        img{
            height: 2rem;
            object-fit: fill;
        }
        
    }
    .jumboSearch{
        position: relative;
        .searchBtn{
            position: absolute;
            right: 0;
            top: -.35rem;
            width: auto;
            &.btn-primary{
                color: gray;
                background: transparent;
                border: none;
            }
        }
    }
}
.mobileMenu {
    margin: 0;
    padding-left: 1rem;
    // @media only screen and (min-width: 768px){
    //     padding: 0;
    //     margin: 0;
    // }
}



//THE FOLLOWING HAS BEEN DONE BECAUSE OF THE WAY REACT BOOTSTRAP WORKS.
//I WAS UNABLE TO SEPARATE THE BRAND NAME IN THE NAVBAR BETWEEN MOBILE
//AND TABLET/DESKTOP, SO I MADE 2 SEPARATE ONES, THEN HID THE SEARCH
//BAR ON MOBILE
// ==============================================
// HIDES MOBILE BRAND NAME ======================
@media only screen and (min-width: 768px){
    .jumboBrand{
        position: absolute;
        display: none;
        margin: 0 0 0 5rem;
    }
}
// ==============================================


// HIDES TABLET/DESKTOP BRAND NAME AND SEARCH BAR
@media only screen and (max-width: 767px){
    .deskMenu{
        position: absolute;
        display: none;
    }
}
// ==============================================