@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500&display=swap');

.footerContainer{
    margin: 3rem 0 0 0;
    padding: 2.2rem 0 2.2rem 0;
    color: #666666;
    .footerHeader{
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: 1px;
    }
    .footerOption{
        font-size: .75rem;
        margin-bottom: .3rem;
    }
    .submitForm{
        position: relative;
        .contactHeader{
            font-size: 1.1rem;
            font-weight: 500;
            letter-spacing: 1px;
            line-height: 2;
        }
        .formInput{
            border-radius: 0;
        }
        .submitButton{
            position: absolute;
            bottom: 0;
            right: 0;
            padding: .375rem .4rem;
            border-radius: 0;
        }
    }
}