
@media only screen and (max-width: 767px){
    .footerCol{
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            background: #666666;
            border-radius: 50%;
            color: white;
            padding: .5rem;
            width: 2rem;
        }
    }
    .accWidth{
        padding: 0;
        border-top: 2px gray solid !important;
        &:last-child{
            border-bottom: 2px gray solid !important;
        }
    }
    .container{
        max-width: 100%;
    }
}