.largeContainer{
    @media only screen and (min-width: 1460px) {
        max-width: 1460px;
        margin: 0 auto;
    }
    .stickySideMenu{
        @media only screen and (max-width: 767px) {
            position: absolute;
            display: none;
        }
    }
}