@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;700;800&family=Orbitron:wght@400;500;700;800;900&display=swap');
// font-family: 'Orbitron', sans-serif;

//TOP CAROUSEL NAVBAR =====================================
.carousel-indicators{
    position: absolute;
    display: none;
}
.carousel-inner{
    width: 856px;
    @media only screen and (max-width: 900px){
        width: 767px;
    }
    @media only screen and (max-width: 738px){
        width: 350px;
    }
    .slideInfo{
        color: white;
        font-size: .7rem;
        font-weight: 500;
        letter-spacing: 1px;
        margin: 0;
        text-align: center;
        @media only screen and (max-width: 775px){
            padding: .5rem 3.5rem;
        }
    }
}
.carousel-control-prev, .carousel-control-next{
    opacity: 1;
    .carousel-control-next-icon, .carousel-control-prev-icon{
        height: 1.25rem;
    }
}

// MIDDLE NAVBAR ==========================================
.midNav{
    background: rgb(209, 209, 209);
    margin-bottom: .25rem;
    justify-content: space-between;
        @media only screen and (max-width: 768px){
            justify-content: center;
        }
    .midNavLink{
        font-size: .8rem;
        opacity: 1;
        font-weight: bold;
        i{
            padding-right: .25rem;
        }
    }
    .secondNavLink{
        @media only screen and (max-width: 768px){
            position: absolute;
            display: none;
        }
    }
}


// MAIN NAVBAR ============================================
.navColor{
    position: relative;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e9e9e9;
    @media only screen and (max-width: 768px){
        background-color: rgba(248, 249, 250);
        .navbar-toggler{
            position: absolute;
            right: 10px;
            top: 0;
            z-index: 1000;
        }
    }
    &.navbar{
        padding: 0;
    }
    .deskMenu{
        --bs-gutter-x: 0;
        .navbar-brand{
            margin-right: 0;
            @media only screen and (max-width: 767px){
                margin-right: 3rem;
            }
        }
        .deskBrand{
            padding-left: 2rem;
            display: flex;
            flex-flow: row;
            align-items: center;
        }
        .jumboSearch{
            position: relative;
            margin-top: .8rem;
            @media only screen and (max-width: 767px){
                order: 6 !important;
            }
            .form-control{
                border-radius: 50px;
                border-color: black !important;
            }
            .searchBtn{
                position: absolute;
                right: 0;
                top: -.35rem;
                width: auto;
                &.btn-primary{
                    color: black;
                    background: transparent;
                    border: none;
                    font-size: 1rem;
                }
            }
        }
        .userInfo{
            flex-direction: row;
            justify-content: flex-end;
            @media only screen and (max-width: 767px){
                order: -1 !important;
                justify-content: flex-start;
                width: auto;

            }
            .nav-link{
                padding: 0 .5rem;
                display: flex;
                align-items: center;
                @media only screen and (max-width: 768px){
                    padding: 0 .25rem;
                }
                &:nth-child(2){
                    margin-right: .5rem;
                }
            }
            .userContainer{
                border: 2px solid black;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                font-size: 1.5rem;
                height: 2rem;
                width: 2rem;
                display: flex;
                align-items: center;
                @media only screen and (max-width: 768px){
                    font-size: 1.35rem;
                    height: 1.75rem;
                    width: 1.75rem;
                }
                i{
                    padding: 0 .45rem;
                    position: absolute;
                    bottom: -1px;
                    left: -4px;
                    @media only screen and (max-width: 768px){
                        bottom: -4px;
                        left: -5px;
                    }
                }
            }
            .bagContainer{
                font-size: 1.7rem;
                display: flex;
                align-items: center;
                color: black;
                @media only screen and (max-width: 768px){
                    font-size: 1.35rem;
                    height: 1.75rem;
                    width: 1.75rem;
                }
                i{
                    padding: 2px 0 0 0;
                }
            }
        }
    }
}

// FOR BOTH MOBILE AND DESKTOP BRAND AREA ===================================
.brandMain{
    border-right: 1px solid gray;
    padding: 0 .5rem 0 0;
    font-family: 'Orbitron', sans-serif;
    h3{
        margin: 0;
    }
}
.brandSide{
    padding: 0 0 0 .5rem;
    font-family: 'Orbitron', sans-serif;
    h6{
        font-size: .7rem;
        margin: 0;
    }
}
.collapseMenu {
    margin: 0;
    padding-left: 1rem;
    .hoverMenu{
        visibility: hidden;
        padding: 1rem;
        position: absolute;
        top: 3.27rem;
        left: 0;
        z-index: 6;
        background: white;
        width: 90%;
        height: 400px;
        display: grid;
        grid-template-rows: 9fr 1fr;
        .divisionContainer{
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            width: 100%;
            overflow: auto;
            .divisionChoice{
                ul{
                    display: flex;
                    flex-flow: column;
                    li{
                        padding: .5rem 0;
                        &:hover{
                            border: none;
                        }
                        a{
                            font-size: 1.1rem;
                            font-weight: 700;
                        }
                    }
                }
            }
            .divisionCard{
                height: auto;
                width: 100%
                h3{
                    padding: 10px 0;
                    font-weight: bold;
                    font-size: 1rem;
                }
                p{
                    font-size: 1rem;
                    font-weight: bold;
                    color: #727272;
                    a{
                        &:hover{
                            border-bottom: 1px solid black;
                        }
                    }
                }
            }
        }
        .divisionButton{
            display: flex;
            justify-content: center;
            align-items: center;
            background: black;
            &:hover{
                background: gray;
            }
            a{
                color: white;
                font-weight: bold;
            }
        }
    }
}